## 导入相关的包

In [2]:
import pandas as pd
import numpy as np

## 读入数据集

- 查看样本数量和特征数量
- 检查读入数据的基本结构

In [5]:
data = pd.read_csv("data/train_new.csv")

In [6]:
data.shape

(50000, 74)

打印前五行数据查看

In [7]:
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

查看列信息

In [11]:
columns_info=pd.read_csv("data/feature_x.csv",index_col=0)

In [12]:
data=data.rename(columns={k:v for k, v in zip(columns_info["output_feat"],columns_info["description"])})

In [13]:
data.head()

,手机号归属地,籍贯,与黑名单用户联系次数,近六个月通话次数,近六个月搜索次数,近六个月借款机构统计,安装应用平均值,履约次数统计,借款次数统计,用户行为分值,...,过去12个月平均主叫比例,充值次数,上次充值金额,总充值金额,平均充值金额,上个月短信条数,短信总条数,月均短信条数,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

## 观察数据
- 数据缺失情况
- 特征之间、特征与Label的相关度等

In [14]:
missing_values_count = data.isnull().sum()

In [15]:
missing_values_count[0:10]

手机号归属地         5851
籍贯              390
与黑名单用户联系次数      817
近六个月通话次数       4280
近六个月搜索次数       8891
近六个月借款机构统计     3461
安装应用平均值        4825
履约次数统计        48466
借款次数统计         4280
用户行为分值          955
dtype: int64

In [16]:
data.corr()

,手机号归属地,籍贯,与黑名单用户联系次数,近六个月通话次数,近六个月搜索次数,近六个月借款机构统计,安装应用平均值,履约次数统计,借款次数统计,用户行为分值,...,过去12个月平均主叫比例,充值次数,上次充值金额,总充值金额,平均充值金额,上个月短信条数,短信总条数,月均短信条数,Y,id
手机号归属地,1.000000,0.005091,0.002445,-0.002521,-0.002863,0.000576,0.000510,-0.021082,-0.003949,0.002748,...,0.003696,0.004220,0.002194,-0.000705,0.002501,-0.007212,-0.008667,-0.002907,-0.007396,0.007816
籍贯,0.005091,1.000000,0.130124,0.067872,-0.003727,0.012351,-0.055850,-0.002901,0.001000,0.055909,...,0.637134,0.114426,0.127659,-0.069287,0.198605,0.135124,-0.001806,-0.000636,-0.052612,-0.005470
与黑名单用户联系次数,0.002445,0.130124,1.000000,0.147500,-0.010805,-0.005790,-0.029100,-0.013539,0.089222,0.021502,...,0.110435,0.060165,0.997757,-0.025897,0.096623,0.137174,-0.025698,-0.009129,-0.012419,-0.002800
近六个月通话次数,-0.002521,0.067872,0.147500,1.000000,-0.004435,-0.002231,-0.092175,0.020393,0.600068,0.003959,...,0.166057,0.036125,0.146015,-0.038666,0.079479,0.029898,-0.009281,-0.000339,0.066437,-0.003480
近六个月搜索次数,-0.002863,-0.003727,-0.010805,-0.004435,1.000000,-0.000061,-0.001668,0.300385,-0.006101,0.002267,...,-0.005177,0.002582,-0.010871,0.000487,0.008904,-0.007493,0.196436,0.842313,-0.008346,-0.001466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
上个月短信条数,-0.007212,0.135124,0.137174,0.029898,-0.007493,-0.008236,-0.041117,0.008881,0.022129,-0.005804,...,0.060157,-0.001739,0.132304,-0.036921,0.030909,1.000000,-0.006705,-0.016463,-0.045284,-0.005936
短信总条数,-0.008667,-0.001806,-0.025698,-0.009281,0.196436,0.003521,0.010249,0.296526,-0.012271,0.007085,...,0.004516,0.002975,-0.025757,0.002539,0.004654,-0.006705,1.000000,0.184319,-0.005033,0.000504
月均短信条数,-0.002907,-0.000636,-0.009129,-0.000339,0.842313,0.000449,-0.001397,0.298793,-0.002344,0.003051,...,-0.002591,-0.000601,-0.009179,0.001226,0.011872,-0.016463,0.184319,1.000000,-0.004945,0.000084
Y,-0.007396,-0.052612,-0.012419,0.066437,-0.008346,-0.009835,0.016326,-0.020386,0.038422,0.000468,...,-0.078752,-0.077376,-0.011839,0.010415,-0.119884,-0.045284,-0.005033,-0.004945,1.000000,-0.005236
id,0.007816,-0.005470,-0.002800,-0.003480,-0.001466,0.003314,0.001224,-0.022960,-0.002440,-0.003107,...,-0.003141,-0.000215,-0.002279,0.002432,-0.000462,-0.005936,0.000504,0.000084,-0.005236,1.000000

## 处理缺失数据
每种处理方式新建一个cell
### 默认值填充
缺失值填充为-1

In [17]:
data.fillna(-1, inplace=True)

In [18]:
data.head()

,手机号归属地,籍贯,与黑名单用户联系次数,近六个月通话次数,近六个月搜索次数,近六个月借款机构统计,安装应用平均值,履约次数统计,借款次数统计,用户行为分值,...,过去12个月平均主叫比例,充值次数,上次充值金额,总充值金额,平均充值金额,上个月短信条数,短信总条数,月均短信条数,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,-1.0,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,-1.0,10000.0,0.0,-1.0,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,-1.0,-1.0,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,-1.0,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,-1.0,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,-1.0,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

将-1替换为nan

In [19]:
data.replace(to_replace=-1, value=np.NaN, inplace=True)

In [20]:
data.head()

,手机号归属地,籍贯,与黑名单用户联系次数,近六个月通话次数,近六个月搜索次数,近六个月借款机构统计,安装应用平均值,履约次数统计,借款次数统计,用户行为分值,...,过去12个月平均主叫比例,充值次数,上次充值金额,总充值金额,平均充值金额,上个月短信条数,短信总条数,月均短信条数,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

### 平均值填充
对于某些数值属性可以使用平均值填充，如“近六个月搜索次数”

In [21]:
data.近六个月搜索次数.fillna(data.近六个月搜索次数.mean(), inplace=True)

In [22]:
data.head()

,手机号归属地,籍贯,与黑名单用户联系次数,近六个月通话次数,近六个月搜索次数,近六个月借款机构统计,安装应用平均值,履约次数统计,借款次数统计,用户行为分值,...,过去12个月平均主叫比例,充值次数,上次充值金额,总充值金额,平均充值金额,上个月短信条数,短信总条数,月均短信条数,Y,id
0,9.0,1458.0,17147.0,10.0,0.000000e+00,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,4.235226e+08,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.000000e+00,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.000000e+00,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.000000e+00,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

重新加载data

In [26]:
data = pd.read_csv("data/train_new.csv")

### 删除不完整的行
删除任何包含空值的行，可以发现删除的数据太多了，丢失大量有价值的数据

In [27]:
data.dropna(inplace=True)
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
33,2.0,668.0,113.0,7.0,1048576.0,20000.0,0.0,3145728.0,2.0,11900.0,...,110.0,281.0,18.0,49.0,447.0,6.0,1597992.0,381525.0,0,33
170,6.0,2089.0,684.0,4.0,614400.0,5000.0,0.0,11400.0,0.0,3000.0,...,173.0,866.0,114.0,100.0,1092.0,6.0,0.0,614400.0,0,170
573,6.0,1309.0,31.0,11.0,5345280.0,10000.0,0.0,30000.0,4.0,14060.0,...,352.0,855.0,5.0,62.0,882.0,6.0,337356.0,2655573.0,1,573
663,2.0,146.0,187.0,1.0,3072.0,3000.0,0.0,700.0,0.0,25900.0,...,146.0,656.0,187.0,61.0,31.0,6.0,3072.0,3072.0,1,663
3879,1.0,485.0,29.0,2.0,1830635.0,5000.0,0.0,30000.0,1.0,17165.0,...,52.0,247.0,9.0,134.0,44.0,6.0,2281123.0,1266909.0,1,3879

删除所有值都为空的行，第二行虽然空值很多但是并没有被删掉，删除效率太低

In [28]:
data = pd.read_csv("data/train_new.csv")
data.dropna(how='all', inplace=True)
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

只保留至少有五个非空值的行

In [30]:
data = pd.read_csv("data/train_new.csv")
data.dropna(thresh=5, inplace=True)
missing_values_count = data.isnull().sum()
missing_values_count[0:10]

X1      5851
X2       390
X3       817
X4      4280
X5      8891
X6      3461
X7      4825
X8     48466
X9      4280
X10      955
dtype: int64

去掉label为空的行

In [34]:
data = pd.read_csv("data/train_new.csv")
data.dropna(subset=['Y'], inplace=True)
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,7.0,581.0,2449.0,93.0,498.0,6.0,0.0,0.0,1,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,31.0,796.0,7.0,122.0,406.0,5.0,NaN,NaN,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,230.0,732.0,29.0,78.0,10.0,6.0,0.0,0.0,0,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,11.0,36.0,113.0,82.0,35.0,6.0,0.0,0.0,1,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,93.0,395.0,50.0,48.0,491.0,5.0,0.0,0.0,0,4

## 数据变换与离散化

### 1. 缩放(Scaling)
找到所有数值属性，使用最大最小值规范，可以看到数据范围缩放到适合观察和处理的大小，而数据间大小关系没有改变

In [35]:
data = pd.read_csv("data/train_new.csv")
numeric_feats = data.dtypes[data.dtypes != "object"].index
data[numeric_feats] = data[numeric_feats].apply(lambda x: (x - x.min()) / (x.max() -
x.min()))
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
0,0.818182,0.094984,0.145874,0.163934,0.0,0.008626,0.0,NaN,0.00,0.002204,...,0.003107,0.427520,0.125006,0.013330,0.022994,0.250000,0.0,0.0,1.0,0.00000
1,0.181818,0.016287,0.000323,0.098361,NaN,0.009481,0.0,NaN,0.04,0.003510,...,0.015536,0.585725,0.000357,0.017486,0.018746,0.208333,NaN,NaN,1.0,0.00002
2,0.181818,0.068664,0.001514,0.016393,0.0,0.008644,0.0,NaN,0.04,0.004117,...,0.118591,0.538631,0.001480,0.011180,0.000462,0.250000,0.0,0.0,0.0,0.00004
3,0.909091,0.091075,0.005776,0.114754,0.0,0.009481,0.0,NaN,0.04,0.004148,...,0.005179,0.026490,0.005768,0.011753,0.001616,0.250000,0.0,0.0,1.0,0.00006
4,0.181818,0.071336,0.002595,0.180328,0.0,0.009481,0.0,NaN,0.08,0.003873,...,0.047644,0.290655,0.002552,0.006880,0.022671,0.208333,0.0,0.0,0.0,0.00008

### 2. 规范化(Normalization)
零均值规范化，与scaling相比，不仅仅改变了数据范围，也平移数据使得均值为0，更靠近标准正态分布

In [37]:
data = pd.read_csv("data/train_new.csv")
data[numeric_feats] = data[numeric_feats].apply(lambda x: (x - x.mean()) / (x.std()))
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,X70,X71,X72,Y,id
0,1.029154,0.538781,5.607751,-0.070962,-0.020829,-0.103187,-0.095701,NaN,-0.798870,-0.253708,...,-0.910740,0.440512,4.743993,0.234886,-0.210486,0.349606,-0.070304,-0.017537,1.276128,-1.731999
1,-1.044798,-1.042146,-0.473350,-0.569373,NaN,0.062788,-0.095701,NaN,-0.404132,0.016640,...,-0.726820,1.218165,-0.475500,0.741694,-0.281526,-0.833314,NaN,NaN,1.276128,-1.731930
2,-1.044798,0.010060,-0.423590,-1.192385,-0.020829,-0.099579,-0.095701,NaN,-0.404132,0.142251,...,0.798183,0.986677,-0.428477,-0.027256,-0.587309,0.349606,-0.070304,-0.017537,-0.783605,-1.731860
3,1.325433,0.460258,-0.245518,-0.444770,-0.020829,0.062788,-0.095701,NaN,-0.404132,0.148839,...,-0.880087,-1.530746,-0.248937,0.042648,-0.568004,0.349606,-0.070304,-0.017537,1.276128,-1.731791
4,-1.044798,0.063717,-0.378450,0.053640,-0.020829,0.062788,-0.095701,NaN,-0.009394,0.091743,...,-0.251693,-0.232248,-0.383592,-0.551540,-0.215891,-0.833314,-0.070304,-0.017537,-0.783605,-1.731722

### 3. 离散化(Discretization)
#### 等深分箱
每箱的记录数相同（称为深度）

In [38]:
data.X65_bin = pd.qcut(data.X65, q=10, duplicates='drop')
print(data.X65_bin)

0        (-0.958, -0.872]
1        (-0.757, -0.627]
2          (0.561, 1.243]
3        (-0.958, -0.872]
4        (-0.29, -0.0831]
               ...
49995      (0.561, 1.243]
49996    (-0.0831, 0.185]
49997    (-0.0831, 0.185]
49998    (-0.958, -0.872]
49999    (-0.872, -0.757]
Name: X65, Length: 50000, dtype: category
Categories (10, interval[float64]): [(-0.958, -0.872] < (-0.872, -0.757] < (-0.757, -0.627] < (-0.627, -0.474] ... (-0.0831, 0.185] < (0.185, 0.561] < (0.561, 1.243] < (1.243, 13.841]]

d:\python3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

#### 等宽分箱
按区间范围分箱，范围称为宽度

In [40]:
data = pd.read_csv("data/train_new.csv")
data.X66_bin = pd.cut(data.X66, bins=[100,200,300,400,500,600])
print(data.X66_bin)

0        (500.0, 600.0]
1                   NaN
2                   NaN
3                   NaN
4        (300.0, 400.0]
              ...
49995               NaN
49996               NaN
49997    (400.0, 500.0]
49998               NaN
49999    (400.0, 500.0]
Name: X66, Length: 50000, dtype: category
Categories (5, interval[int64]): [(100, 200] < (200, 300] < (300, 400] < (400, 500] < (500, 600]]

d:\python3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

## 特征构造(交叉)
说明源特征、交叉方式等

In [44]:
def add_cross_feature(data, feature_1, feature_2):
    comb_index = data[[feature_1, feature_2]].drop_duplicates()
    comb_index[feature_1 + '_' + feature_2] = np.arange(comb_index.shape[0])
    data = pd.merge(data, comb_index, 'left', on=[feature_1, feature_2])
    return data
data=add_cross_feature(data,'X1','X2')
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X67,X68,X69,X70,X71,X72,Y,id,X1_X2_x,X1_X2_y
0,9.0,1458.0,17147.0,10.0,0.0,800.0,0.0,NaN,0.0,679.0,...,2449.0,93.0,498.0,6.0,0.0,0.0,1,0,0,0
1,2.0,250.0,38.0,6.0,NaN,10000.0,0.0,NaN,1.0,12990.0,...,7.0,122.0,406.0,5.0,NaN,NaN,1,1,1,1
2,2.0,1054.0,178.0,1.0,0.0,1000.0,0.0,NaN,1.0,18710.0,...,29.0,78.0,10.0,6.0,0.0,0.0,0,2,2,2
3,10.0,1398.0,679.0,7.0,0.0,10000.0,0.0,NaN,1.0,19010.0,...,113.0,82.0,35.0,6.0,0.0,0.0,1,3,3,3
4,2.0,1095.0,305.0,11.0,0.0,10000.0,0.0,NaN,2.0,16410.0,...,50.0,48.0,491.0,5.0,0.0,0.0,0,4,4,4

## 为实验六处理的数据

In [18]:
data = pd.read_csv("data/train_new.csv")
data.dropna(thresh=60, inplace=True)
del data["X8"]
del data["X23"]
del data["X26"]
del data["X39"]
del data["X49"]
columns_info=pd.read_csv("data/feature_x.csv",index_col=0)
data=data.rename(columns={k:v for k, v in zip(columns_info["output_feat"],columns_info["description"])})
missing_values_count = data.isnull().sum()
print(missing_values_count.sort_values(ascending = False)[0:30])

手机记录天数             15926
低风险联系人计数           15926
联系人中黑名单人数计数        15926
最近14天机构联系计数         7986
近三个月平台借贷详情          7238
近30天历史搜索数量          3896
手机账户余额              3891
近一个月联系人分布城市平均值      3865
上个月平均通话时长           3865
月均短信条数              3824
近六个月搜索次数            3824
最近90天机构计数           3166
用户信用等级              3166
过去12个月流量套餐容量最大值     3125
短信总条数               3125
上个月语音套餐总容量          2798
近六个月借款机构统计          2135
过去12个月语音套餐用量均值      2133
过去12个月流量套餐用量均值      2133
近3个月计数              2076
手机号归属地              1936
风险中位数水平             1219
过去12个月平均通话时长         922
上个月总通话次数             534
过去12个月平均主叫比例         456
过去12个月通话时间均值         456
过去12个月通话次数均值         456
平均充值金额               331
安装应用平均值              331
过去12个月流量套餐容量均值       319
dtype: int64

In [21]:
data=data.fillna(data.mean())
missing_values_count = data.isnull().sum()
print(missing_values_count.sort_values(ascending = False)[0:30])

id                0
最近3个月活跃天数         0
最近7天搜索数量          0
近6个平均期限           0
手机记录天数            0
低风险联系人计数          0
最近七天风险机构计数        0
最近14天机构联系计数       0
每月联系人计数最大值        0
用户信用分数            0
手机账户余额            0
最近90天机构计数         0
近一个月联系人计数         0
近3个月计数            0
联系人中黑名单人数计数       0
近一个月联系人分布城市平均值    0
最近90天搜索数量         0
风险中位数水平           0
近6个月活跃天数          0
近30天历史搜索数量        0
近三个月平台借贷详情        0
第三方风险分数           0
网龄                0
身份证记录天数           0
近两个月机构统计          0
用户行为分值            0
借款次数统计            0
安装应用平均值           0
近六个月借款机构统计        0
近六个月搜索次数          0
dtype: int64

In [23]:
data=data.rename(columns={k:v for k, v in zip(columns_info["description"],columns_info["output_feat"])})
data.to_csv("./train_done.csv")